<h1>This page is private, if you're seeing this then it means you're an
  authenticated user</h1>
<img
  src='https://media0.giphy.com/media/IwAZ6dvvvaTtdI8SD5/giphy.gif?cid=ecf05e47ufk7fqr6ijwlqzdkdxlmw57i2bt2h4rexxp78cnd&rid=giphy.gif&ct=g'
  alt='office-gif'
/>
<form action='/' method='get'>
  <button>Back to the main page</button>
</form>